# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env
.env.local
.env.production
.env.staging

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs
*.log